.page-wraper {
    width: 375px;
    height: 100vh;
    margin: auto;
    background-color: hsl(257, 40%, 49%);
}
.container {
    width: 375px;
    height: 900px;
    background-image: url(bg-mobile.svg);
    background-size: 375px 300px;
    background-repeat: no-repeat;
}
.logo {
    padding: 25px 0 0 25px;
}
.image {
    padding: 45px 25px 50px 25px;
}
